[Unit]
After=docker.service
Description=Run docker compose BlumBot

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/root/BlumBot
ExecStart=/usr/bin/docker compose -f /root/BlumBot/docker-compose.yml up -d --remove-orphans
Restart=on-failure

[Install]
WantedBy=multi-user.target